import { put, del, list } from '@vercel/blob';

export async function uploadBuffer(buffer: Buffer, filename: string, contentType?: string) {
  const blob = await put(filename, buffer, {
    access: 'public',
    contentType,
  });

  return blob.url;
}

export async function deleteFile(url: string) {
  await del(url);
}

export async function listFiles(options?: { limit?: number; prefix?: string }) {
  const { blobs } = await list(options);
  return blobs;
}