import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: './src/db/schema.ts',
  out: './drizzle',
  dialect: '{{config.database === 'turso' ? 'sqlite' : 'postgresql'}}',
  dbCredentials: {
    ${
        config.database === 'turso'
            ? 