import { defineConfig } from 'drizzle-kit';

export default defineConfig({
  schema: './src/db/schema.ts',
  out: './drizzle',
  dialect: '{{dialect}}',
  dbCredentials: {{{#if isTurso}}
    url: process.env.DATABASE_URL || 'file:./prisma/dev.db',{{else}}
    connectionString: process.env.DATABASE_URL!,{{/if}}
  },
});